div {
    border:2px  aquamarine;
    /* background-color: rgb(090, 90, 43); */
     
    /* background-color: #aa999998; */
        
    
}

h1 ,p {
    color:darkorange;
    opacity:0.9;
}

/* this a cascading stylesheet comment */
p {
    font-size: 50px; /* set the font-size to 50pixels */
    
}
body {
    background-image: url("img1.jpg");
 }